In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
x = df.drop('Profit', axis=1) # 1 for column

In [5]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [6]:
y = df['Profit']

In [7]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Standard Scaler

In [8]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [9]:
df_ad = std.fit(df[['Administration']])

In [10]:
df_ad

StandardScaler()

In [11]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [12]:
df.Administration = std.transform(df[['Administration']])

In [13]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61        0.560753  471784.10    Dhaka  192261.83
1        162597.70        1.082807  443898.53      Ctg  191792.06
2        153441.51       -0.728257  407934.54  Rangpur  191050.39
3        144372.41       -0.096365  383199.62    Dhaka  182901.99
4        142107.34       -1.079919  366168.42  Rangpur  166187.94

In [14]:
df.Transport = std.fit_transform(df[['Transport']])

In [15]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61        0.560753   2.165287    Dhaka  192261.83
1        162597.70        1.082807   1.929843      Ctg  191792.06
2        153441.51       -0.728257   1.626191  Rangpur  191050.39
3        144372.41       -0.096365   1.417348    Dhaka  182901.99
4        142107.34       -1.079919   1.273550  Rangpur  166187.94

# Assignment

In [16]:
#LOOP Standard Scaler

In [17]:
stdSclDf=df.copy()
for column in stdSclDf:
    if (stdSclDf[column].dtypes=='float64' or stdSclDf[column].dtypes=='int64') and column!='Profit':
        stdSclDf[column] =std.fit_transform(stdSclDf[[column]])
stdSclDf.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

In [18]:
# MinMax Scaler
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [19]:
from sklearn.preprocessing import MinMaxScaler
minMaxScl=MinMaxScaler()
minMaxDf=df.copy()
for column in minMaxDf:
    if (minMaxDf[column].dtypes=='float64' or minMaxDf[column].dtypes=='int64') and column!='Profit':
        minMaxDf[column]=minMaxDf[column].fillna(minMaxDf[column].mean())
        minMaxDf[column] =minMaxScl.fit_transform(minMaxDf[[column]])
minMaxDf.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [20]:
#Max Abs Scaler

In [21]:
from sklearn.preprocessing import MaxAbsScaler
MaxAbsScl=MaxAbsScaler()
maxAbsDf=df.copy()
for column in maxAbsDf:
    if (maxAbsDf[column].dtypes=='float64' or maxAbsDf[column].dtypes=='int64') and column!='Profit':
        
        maxAbsDf[column] =MaxAbsScl.fit_transform(maxAbsDf[[column]])
maxAbsDf.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.221993   1.000000    Dhaka  1.000000
1         0.983359        0.428666   0.891264      Ctg  0.997557
2         0.927985       -0.288305   0.751028  Rangpur  0.993699
3         0.873136       -0.038149   0.654577    Dhaka  0.951317
4         0.859438       -0.427523   0.588166  Rangpur  0.864383

In [22]:
#Robus Scaler

In [25]:
from sklearn.preprocessing import RobustScaler
RbStScl=RobustScaler()
RbStDf=df.copy()
for column in RbStDf:
    if (RbStDf[column].dtypes=='float64' or RbStDf[column].dtypes=='int64') and column!='Profit':
        RbStDf[column] =RbStScl.fit_transform(RbStDf[[column]])
RbStDf.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94