In [132]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

In [8]:
df = pd.read_csv('weight-height - weight-height.csv')

In [9]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [11]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [55]:
x=df[['Height']]
y=df[['Weight']]

In [56]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=1)

In [59]:
reg=LinearRegression()

In [216]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [217]:
reg.score(xtest,ytest)

0.8588721747814502

In [218]:
mean_squared_error(ytest,reg.predict(xtest))

149.63787379522267

In [219]:
mean_absolute_error(ytest,reg.predict(xtest))

9.790820123333042

In [220]:
KNReg=KNeighborsRegressor()
KNReg.fit(xtrain,ytrain)

KNeighborsRegressor()

In [221]:
KNReg.score(xtest,ytest)

0.8300556993157646

In [222]:
mean_squared_error(ytest,KNReg.predict(xtest))

180.19199104516815

In [223]:
mean_absolute_error(ytest,KNReg.predict(xtest))

10.68002282962836

In [104]:
reg.predict([[65.068038]])

array([[152.16232244]])

In [105]:
KNReg.predict([[65.068038]])

array([[163.93768308]])

In [102]:
xtest

         Height
7154  65.068038
3258  70.824643
2188  68.663594
5609  65.987610
3186  70.901461
...         ...
8004  58.963526
7644  66.613529
8521  67.895659
957   69.031063
233   71.476101

[2567 rows x 1 columns]

In [106]:
ytest

          Weight
7154  160.800726
3258  184.516688
2188  184.262796
5609  166.844114
3186  200.466282
...          ...
8004  110.815421
7644  148.605255
8521  153.436481
957   170.310122
233   195.392618

[2567 rows x 1 columns]

In [110]:
le=LabelEncoder()

In [113]:
df['Gender']=le.fit_transform(df[['Gender']])

In [121]:
df['Gender'].value_counts()

1    5000
0    3555
Name: Gender, dtype: int64

In [172]:
x2=df.drop("Gender", axis='columns')
y2=df[['Gender']]

In [173]:
KNClf=KNeighborsClassifier(n_neighbors=100)

In [174]:
x2train,x2test,y2train,y2test=train_test_split(x2,y2,test_size=.3,random_state=1,)

In [175]:
KNClf.fit(x2train,y2train)

KNeighborsClassifier(n_neighbors=100)

In [176]:
x2test

         Height      Weight
7154  65.068038  160.800726
3258  70.824643  184.516688
2188  68.663594  184.262796
5609  65.987610  166.844114
3186  70.901461  200.466282
...         ...         ...
8004  58.963526  110.815421
7644  66.613529  148.605255
8521  67.895659  153.436481
957   69.031063  170.310122
233   71.476101  195.392618

[2567 rows x 2 columns]

In [177]:
y2test

      Gender
7154       0
3258       1
2188       1
5609       0
3186       1
...      ...
8004       0
7644       0
8521       0
957        1
233        1

[2567 rows x 1 columns]

In [234]:
KNClf.score(x2test,y2test)

0.9185820023373588